{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>See All - Characters</title>
    <link rel="stylesheet" href="{% static 'MarvelUniverse/css/see_all.css' %}">
    <!-- Load search icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="main">
    <div class="empty"></div>
    <div class="content">
        <div class="head white-text">
            <div class="head-name">
                <div class="name">CHARACTERS</div>
                <div class="count">{{characters.count}} Results</div>
            </div>
            <form class="search-by-name-box center" method="get">
                <input type="text" placeholder="Search" name="get_search" value="{{get_search}}">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                </button>
            </form>
        </div>
        <div class="card-layout">
            {% for character in characters %}
            <li class="card">
                <a href="{% url 'MarvelUniverse:characters-detail' character.pk %}">
                    <div class="img">
                        <img src="{{ character.image }}">
                        <p class="title-name">{{character.name}}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </div>
    </div>
    <div class="empty"></div>
</div>
</body>
</html>
{% endblock %}