{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarvelUniverse - Enter New Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="{% static 'reset_pass/css/reset.css' %}" rel="stylesheet">
</head>
<body>
    <div class="box">
        {% if validlink %}
        <h3>ENTER NEW PASSWORD</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit-button-container">
                <input type="submit" value="Update Password" class="button">
            </div>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</body>
</html>
