{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarvelUniverse - Password Reset Complete</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="{% static 'reset_pass/css/reset.css' %}" rel="stylesheet">
</head>
<body>
    <div class="box">
        <h3>PASSWORD RESET COMPLETE</h3>
        <p>Your password has been set. You may go ahead and login now.</p>
        <div class="submit-button-container">
            <a href="{% url 'login' %}" class="login-button">Login</a>
        </div>
    </div>
</body>
</html>
