{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarvelUniverse - Password Reset</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="{% static 'reset_pass/css/reset.css' %}" rel="stylesheet">
</head>
<body>
    <div class="box">
        <h3>PASSWORD RESET</h3>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit-button-container">
                <input type="submit" value="Send email">
            </div>
        </form>
    </div>
</body>
</html>
