{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Detail - characters</title>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/detail.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="content">
                <section class="character">
                    <div class="character-img">
                        <img src="{{character.image}}">
                    </div>
                    <div class="detail flex">
                        <p class="name title">{{character.name}}</p>
                        <p class="description">{{character.description}}</p>
                        <button class="fav">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
                        </button>
                    </div>
                </section>
                <!-- Comics Section -->
                {% if comics_list %}
                <section>
                    <div class="head white-text">
                        <p class="title">COMICS</p>
                        <div class="count">{{comics_count}} Comics</div>
                    </div>
                    <div class="card-layout">
                        {% for comic in comics_list %}
                        <li class="card">
                            <a href="{% url 'MarvelUniverse:comics-detail' comic.pk %}">
                                <div class="img">
                                    <img src="{{ comic.image }}">
                                    <p class="title-name">{{comic.name}}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
                <!-- Series Section -->
                {% if series_list %}
                <section>
                    <div class="head white-text">
                        <p class="title">SERIES</p>
                        <div class="count">{{series_count}} Series</div>
                    </div>
                    <div class="card-layout">
                        {% for series in series_list %}
                        <li class="card">
                            <a href="{% url 'MarvelUniverse:series-detail' series.pk %}">
                                <div class="img">
                                    <img src="{{ series.image }}">
                                    <p class="title-name">{{series.name}}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
            </div>
            <div class="empty"></div>
        </div>
        <script src="{% static 'MarvelUniverse/js/card-slider.js' %}"></script>
    </body>
</html>
{% endblock %}