{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Detail - characters</title>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/detail.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="content">
                <section class="character white-text">
                    <div class="character-img">
                        <img src="{{character.image}}">
                    </div>
                    <div class="detail flex">
                        <p class="name title">{{character.name}}</p>
                        <p class="description">{{character.description}}</p>
                        <button class="fav {% if is_favorite %}is-favorite{% endif %}" id="favoriteButton" data-model="character" data-object-id="{{character.pk}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="favorite"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path></svg>
                        </button>
                        <!-- CSRF token -->
                        {% csrf_token %}

                    </div>
                </section>
                <!-- Comics Section -->
                {% if comics_list %}
                <section>
                    <div class="head white-text">
                        <p class="title">COMICS</p>
                        <div class="count">{{comics_count}} Comics</div>
                    </div>
                    <div class="card-layout">
                        {% for comic in comics_list %}
                        <li class="card">
                            <a href="{% url 'MarvelUniverse:comics-detail' comic.pk %}">
                                <div class="img">
                                    <img src="{{ comic.image }}">
                                    <p class="title-name">{{comic.name}}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
                <!-- Series Section -->
                {% if series_list %}
                <section>
                    <div class="head white-text">
                        <p class="title">SERIES</p>
                        <div class="count">{{series_count}} Series</div>
                    </div>
                    <div class="card-layout">
                        {% for series in series_list %}
                        <li class="card">
                            <a href="{% url 'MarvelUniverse:series-detail' series.pk %}">
                                <div class="img">
                                    <img src="{{ series.image }}">
                                    <p class="title-name">{{series.name}}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
            </div>
            <div class="empty"></div>
        </div>
        <script src="{% static 'MarvelUniverse/js/toggle_favorite.js' %}"></script>
    </body>
</html>
{% endblock %}