{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Detail - Comics</title>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/detail.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="content">
                <section class="character white-text">
                    <div class="character-img">
                        <img src="{{comic.image}}">
                    </div>
                    <div class="detail flex">
                        <p class="name title">{{comic.title}}</p>
                        <p class="description">{{comic.description}}</p>
                        <div class="line"></div>
                        <div class="comment-section">
                            <div class="comment-title flex">
                                <button class="fav {% if is_favorite %}is-favorite{% endif %}" id="favoriteButton" data-model="comic" data-object-id="{{comic.pk}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="favorite"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path></svg>
                                </button>
                                <!-- CSRF token -->
                                {% csrf_token %}

                                <h3 class="white-text">{{comic_comments_count}} Comments</h3>
                            </div>
                            <div class="comment-form center">

                                <div class="user-profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
                                </div>
                                <form method="post" class="black-text flex">
                                    {% csrf_token %}
                                    <input type="text" name="user_comment" placeholder="Add a comment...">
                                    <button type="submit" class="btn btn-primary btn-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                                    </button>
                                </form>
                            </div>
                            <!-- show comments -->
                            <div class="comment-box">
                                {% if comic_comments %}
                                    {% for comment in comic_comments %}
                                        <div class="comment">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
                                            <div class="comment-text white-text">
                                                <div class="comment-detail flex">
                                                    <p>{{ comment.user.username }}</p>
                                                    <p>{{ comment.created_on }}</p>
                                                    </div>
                                                <div class="comment-body">{{ comment.user_comment | linebreaks }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Characters Section -->
                {% if characters_list %}
                <section>
                    <div class="head white-text">
                        <p class="title">CHARACTERS</p>
                        <div class="count">{{characters_count}} Characters</div>
                    </div>
                    <div class="card-layout">
                        {% for character in characters_list %}
                        <li class="card">
                            <a href="{% url 'MarvelUniverse:characters-detail' character.pk %}">
                                <div class="img">
                                    <img src="{{ character.image }}">
                                    <p class="title-name">{{character.name}}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
            </div>
            <div class="empty"></div>
        </div>
        <script src="{% static 'MarvelUniverse/js/toggle_favorite.js' %}"></script>
    </body>
</html>
{% endblock %}