{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Detail - Series</title>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/detail.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="content">
                <section class="character">
                    <div class="character-img">
                        <img src="{{series.image}}">
                    </div>
                    <div class="detail flex">
                        <p class="name title">{{series.title}}</p>
                        <p class="description">{{series.description}}</p>
                    </div>
                </section>
                <!-- Characters Section -->
                {% if characters_list %}
                <section>
                    <div class="head white-text">
                        <p class="title">CHARACTERS</p>
                        <div class="count">{{characters_count}} Characters</div>
                    </div>
                    <div class="card-layout">
                        {% for character in characters_list %}
                        <li class="card">
                            <a href="{% url 'MarvelUniverse:characters-detail' character.pk %}">
                                <div class="img">
                                    <img src="{{ character.image }}">
                                    <p class="title-name">{{character.name}}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
            </div>
            <div class="empty"></div>
        </div>
    </body>
</html>
{% endblock %}