{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/about.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
              integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="content">
                <!-- About section -->
                <section class="about-us">
                    <div class="marvel-img">
                      <img src="{% static 'MarvelUniverse/img/marvel-pf.png' %}" alt="Marvel IMG">
                    </div>
                    <!-- ABOUT US -->
                    <div class="about-us-info">
                        <p class="title">ABOUT US</p>
                        <br>
                        <hr> <!-- Horizontal line -->
                        <br>
                        <p class="info1"> Marvel Universe is the ultimate destination for seamless exploration,
                            enjoyment, and the exchange of thoughts on the Marvel universe. More than just an
                            information hub, it acts as your friendly guide, offering a space to uncover Marvel
                            characters, series, and comics. Immerse yourself in a lively community, where you
                            can read diverse opinions, share your own, and embark on thrilling adventures
                            through interactive quizzes.
                            <br>
                            <br>
                            As devoted Marvel fans, we've enhanced the experience with all features. Dive deep into
                            Marvel backgrounds. Join us on this extraordinary journey through the Marvel Universe!
                        </p>
                    <br><br>
                    <!-- CONTACT US -->
                    <div class="contact-us-info">
                        <p class="title">CONTACT US</p>
                        <br>
                        <hr> <!-- Horizontal line -->
                        <br>
                        <img src="{% static 'MarvelUniverse/img/gmail.png' %}" alt="mail icon">
                        <p class="info2"><a href='mailto:marvel.universe@gmail.com' target="_blank">marvel.universe@gmail.com</a></p>
                    </div>
                </div>
                </section>
                <br>
                <!-- Team Members section -->
                <section class="team-members">
                    <div class="team-members-info">
                        <p class="title">TEAM MEMBERS</p>
                        <br>
                        <div class="containers">
                            <div class="cards">
                                <div class="profileBx">
                                    <img src="{% static 'MarvelUniverse/img/members/member1.png' %}" alt="member1">
                                </div>
                                <div class="members">
                                    <div class="info">
                                    <h2>Jiratchaya Thongsuthum<br><span>Front-End Developer</span></h2>
                                    <ul class="contact-icons">
                                        <li><a href="mailto:jiratchaya.thongs@ku.th"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/jiratchaya-thongsuthum-9ab180269/?originalSubdomain=th"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="https://github.com/mjrchy"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="profileBx">
                                    <img src="{% static 'MarvelUniverse/img/members/member2.png' %}" alt="member2">
                                </div>
                                <div class="members">
                                    <div class="info">
                                    <h2>Navathon Limamapar<br><span>Back-End Developer</span></h2>
                                    <ul class="contact-icons">
                                        <li><a href="mailto:navathon.l@ku.th"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/navathon-limamapar-6007802a0/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="https://github.com/Sankrub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="profileBx">
                                    <img src="{% static 'MarvelUniverse/img/members/member3.png' %}" alt="member3">
                                </div>
                                <div class="members">
                                    <div class="info">
                                    <h2>Nichakorn Chanajitpairee<br><span>Front-End Developer</span></h2>
                                    <ul class="contact-icons">
                                        <li><a href="mailto:nichakorn.cha@ku.th"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/nichakorn-chanajitpairee-48b181269/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="https://github.com/geeegrace02"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="profileBx">
                                    <img src="{% static 'MarvelUniverse/img/members/member4.png' %}" alt="member4">
                                </div>
                                <div class="members">
                                    <div class="info">
                                    <h2>Warat Poovorakit<br><span>Back-End Developer</span></h2>
                                    <ul class="contact-icons">
                                        <li><a href="mailto:warat.po@ku.th"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/warat-poovorakit-467454269/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="https://github.com/oatwarat"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="empty"></div>
        </div>
    </body>
</html>
{% endblock %}