{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Detail - Series</title>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/instruction.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="content">
                <section class="lets-quiz">
                    <div class="start-quiz flex">
                        <p class="start title white-text flex">WELCOME TO </p>
                        <p class="start title red-text out-liner flex"> QUIZ VERSE OF THE MARVEL </p>
                        <div class="intro-quiz">
                            <p class="description white-text flex">Immerse yourself in the Marvel Universe
                                     with our thrilling quiz game! Dive into the world of iconic characters.
                                     Challenge your knowledge, answer questions about your favorite Marvel heroes.
                                     Whether you're a Marvel novice or a super fan, this game is your ticket to an
                                     exciting journey through the Marvel cosmos.Test your expertise, earn achievements,
                                     and compete for the title of the ultimate True Believer.<br><br>
                                     Are you ready for the ultimate Marvel quiz experience?
                            </p>
                        </div>
                        <div class="deadpool-quiz">
                            <div class="circle"></div>
                            <img src="{% static 'MarvelUniverse/img/quiz-guide-icon/lets-quiz.png' %}" alt="Deadpool">
                        </div>
                    </div>
                </section>
            </div>
            <div class="empty"></div>
        </div>
    </body>
</html>
{% endblock %}