{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Quiz - Start Quiz</title>
        <link rel="stylesheet" href="{% static 'MarvelUniverse/css/select-quiz.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="empty"></div>
            <div class="quiz-content center">
                <div class="quiz-title center">Select Your Quiz !</div>
                <div class="select-quiz">
                    <ul>
                        <div class="option flex">
                            <li><a href="{% url 'MarvelUniverse:character-instruction' %}"><img src="{% static 'MarvelUniverse/img/quiz/1.png' %}"></a></li>
                            <h2 class="white-text center">Characters</h2>
                        </div>
                        <div class="option">
                            <li><a href="{% url 'MarvelUniverse:comic-instruction' %}"><img src="{% static 'MarvelUniverse/img/quiz/2.png' %}"></a></li>
                            <h2 class="white-text center">Comics</h2>
                        </div>
                        <div class="option">
                            <li><a href="{% url 'MarvelUniverse:series-instruction' %}"><img src="{% static 'MarvelUniverse/img/quiz/3.png' %}"></a></li>
                            <h2 class="white-text center">Series</h2>
                        </div>
                        <div class="option">
                            <li><a href="{% url 'MarvelUniverse:random-quiz' %}"><img src="{% static 'MarvelUniverse/img/quiz/4.png' %}"></a></li>
                            <h2 class="white-text center">????</h2>
                        </div>
                    </ul>
               </div>
            </div>
            <div class="empty"></div>
        </div>
    </body>
</html>
{% endblock %}