.comic-series-quiz-section {
    width: 100%;    
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: white;
}

.comic-series-poster-img img {
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    margin: 0 30px;
}

.comic-series-quiz-info {
    width: 100%;
    margin-top: 14px;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFF;
    font-size: 22px;
}

form .question-text {
    margin-top: 60px;
    font-size: 25px;
    font-weight: bold;
}

/* radio button */

.comic-series-radio-section {
    margin-top: 5px;
}

.comic-series-radio-item {
    margin-right: 10px;
    margin-top: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.comic-series-radio-item input[type="radio"] {
    display: none;
}

.comic-series-radio-item input[type="radio"] {
    flex-direction: column;
}

.comic-series-radio-item + .comic-series-radio-item {
    margin-top: 12px;
}

.comic-series-radio-item label {
    display: block;
    padding: 12px 10px;
    background: #FFFF;
    border: 0.1rem solid rgb(154, 149, 149);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    position: relative;
}

.comic-series-radio-item label:after {
    height: 20px;
    width: 20px;
    border: 2px solid rgb(154, 149, 149);
    left: 20px;
    top: calc(50% - 12px);
}

.comic-series-radio-item label:before {
    background: rgb(154, 149, 149);
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out 0s;
}

.comic-series-radio-item [type="radio"]:checked ~ label {
    border-color: rgb(154, 149, 149);
}

.comic-series-radio-item [type="radio"]:checked ~ label {
    opacity: 1;
    visibility: visible;
    background-color: rgb(154, 149, 149);
    transform: scale(1);
}

.comic-series-radio-item img {
    width: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

.choice-radio {
    width: 100%;
}
