* {
    margin: 0;
    padding: 0;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: none;
}

/* layout */

.main {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    position: relative;
    top: 60px;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.flex {
    display: flex;
    flex-direction: column;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    gap: 12px;
    margin-top: 1rem;
    margin-block-end: 20px;
}

/* character */

.count {
    font-size: 18px;
    margin-left: 14px;
    margin-bottom: 2px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
} 

.description {
    margin-top: 16px;
    font-size: 20px;
}

.character {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    margin-bottom: 16px;
}

.character img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.detail {
    flex-direction: column;
    padding-right: 150px;    
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.head {
    display: flex;
    font-weight: 0;
    cursor: pointer;
    align-items: end;
}

.title-name {
    color: white;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold solid 3px;
}

.fav {
    justify-content: start;
    background: black;
    border: black;
    width: 30px;
    height: auto;
}

.fav svg {
    fill: white;
}

.fav svg:hover {
    fill: red;
}

/* card */

.card {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 225px;
}

.card img:hover{
    opacity: 50%;
}

.card .img:hover .title-name {
    opacity: 1;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    margin: 0;
}

.card .img {
    position: relative;
    width: 150px;
    height: 225px;
}

.title-name {
    color: white;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold solid 3px;
}

/* comment */
