* {
    margin: 0;
    padding: 0;
}

.white-text {
    color: white;
}

.red-text {
    color: #EC1D24;
}

.black-text {
    color: black;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    list-style-type: none;
    text-decoration: none;
}

/* layout */

.main {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    position: relative;
    top: 60px;
}

.content {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* card */

.poster-img {
    width: 100%;
}

.poster-img img {
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

/* character-quiz section */

.quiz-title {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #EC1D24;
    width: 300px;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 50px;
}

.quiz-section {
    width: 70%;
    height: 440px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: white;
}

.quiz-info {
    width: 70%;
    margin-top: 14px;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFF;
    font-size: 22px;
}

.quiz {
    flex-direction: row;
}

.submit-button {
    background-color: #EC1D24;
    border-color: #EC1D24;
    width: 400px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    margin:  20px 0;
    padding: 12px 10px;
}

/* form */

.character-form {
    position: relative;
    margin-right: 20px;
}

.question-text {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

/* radio button */

.radio-section {
    margin-top: 18px;
    flex-direction: column;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item input[type="radio"] {
    flex-direction: column;
}

.radio-item + .radio-item {
    margin-top: 12px;
}

.radio-item label {
    display: block;
    padding: 12px 10px;
    background: #FFFF;
    border: 0.1rem solid rgb(154, 149, 149);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    position: relative;
}

.radio-item label:after, .radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after {
    height: 20px;
    width: 20px;
    border: 2px solid rgb(154, 149, 149);
    left: 20px;
    top: calc(50% - 12px);
}

.radio-item label:before {
    background: rgb(154, 149, 149);
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out 0s;
}

.radio-item [type="radio"]:checked ~ label {
    border-color: rgb(154, 149, 149);
}

.radio-item [type="radio"]:checked ~ label:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
